#footer {
    padding: $pd-3 $pd-8;
    background-color: $color-grey;
    h1 {
        @include text($font-weight-bold, $mg-3);
        color: $color-blue-200;
        font-size: $font-size-2;
    }
    .footer-detail {
        ul {
            li {
                margin-bottom: $mg-2 - 10;
                a {
                    font-size: $font-size-1 - 5;
                    color: $color-blue-200;
                    text-decoration: none;
                }
            }
        }
    }
    .footer-touch {
        width: 100%;
        margin-top: $mg-3;
        border-top: $boder-2;
        display: flex;
        justify-content: space-between;
        padding: $pd-3 0;
        flex-wrap: wrap;
        .touch-left {
            i {
                @include social-icon;
            }
        }
        .touch-right {
            text-align: right;
            p {
                font-size: $font-size-1 - 2;
                color: $color-dark-blue-200;
                margin-bottom: $mg-3;
            }
            .btn-search {
                margin-top: 0;
            }
        }
    }
}

#copyright {
    background-color: $color-blue-100;
    @include section-padding;
    padding-top: $pd-3;
    padding-bottom: $pd-3;
    .copyright__left {
        p {
            font-size: $font-size-1 - .2;
            color: $color-grey;
            a {
                color: $color-grey;
                text-decoration: underline;
                font-style: italic;
            }
        }
    }
    .copyright__right {
        ul {
            justify-content: flex-end;
            li {
                padding: 0 $pd-2;
                border-left: $boder-3;
                a {
                    font-size: $font-size-1 - .2;
                    color: $color-grey;
                }
                &:first-child {
                    border-left: none;
                }
            }
        }
    }
    .footer__logo {
        margin-bottom: $mg-3;
        img {
            max-width: 50%;
            height: 4rem;
        }
    }
}